[{:rho-spec-mf {:mean 0.841, :std 0.062, :min 0.716, :max 0.924},
  :non-convergent [{:seed 6, :resid 0.095}],
  :rho-spec-dense {:mean 0.845, :std 0.062, :min 0.717, :max 0.928},
  :n-with-fixed-point 9,
  :rho 0.3,
  :slow [],
  :op-norm {:mean 1.882, :std 0.251, :min 1.419, :max 2.269},
  :n-rhospec>1 0,
  :n-opnorm>1 9}
 {:rho-spec-mf {:mean 0.974, :std 0.009, :min 0.959, :max 0.986},
  :non-convergent [{:seed 2, :resid 0.036} {:seed 3, :resid 6.7E-4}],
  :rho-spec-dense {:mean 0.976, :std 0.009, :min 0.959, :max 0.989},
  :n-with-fixed-point 8,
  :rho 0.9,
  :slow [],
  :op-norm {:mean 1.067, :std 0.028, :min 1.028, :max 1.117},
  :n-rhospec>1 0,
  :n-opnorm>1 8}]
